<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>PROCAM Score</title>
</head>
<div style="text-align: center;">
<body>
<h1>PROCAM Score on Sinatra. Version 0.1a - "Core"</h1>

<h4>The PROCAM Risk Scores - Score for estimating the 10-year risk of developing a coronary event based on the latest and most comprehensive analysis of PROCAM are available. These is the PROCAM Health Check.</h4>

<p>PROCAM Health Check The PROCAM Health Check is a more detailed score based on 462 coronary events ocurring among 18,460 men and 49 events occurring among 8,518 women aged 20-78 years at study entry and followed for an average of 11.7 years. Includes laboratory values (LDL-cholesterol, HDL-cholesterol, triglycerides, blood glucose) and therefore allows more accurate determination of coronary risk in men and women aged 35-65 years. Serves as basis for the initiation of lifestyle changes. It should be calculated in all cases before lipid-lowering drugs are prescribed. Is designed for use by physicians and pharmacists.</p>

<form action="/procam" method="get">
<input type="submit">
</form>

<h6>European Society of Hypertension - European Society of Cardiology Guidelines 2003.</h6>
</body>
</div>
</html> 