<div style="text-align: center;">
<h1>Testing Procam Version 0.1a</h1>
<form action="/result" method="post">
<span><p>Enter your Age(35-65):</br><input type="text" name="age"></p></span>
<span><p>Know Diabetes Melitus or blood glucose level >= 120mg/dl?</br><input type="text" name="sugar"></p></span>
<span><p>Current nicotine consumption?</br><input type="text" name="niko"></p></span>
<span><p>Heart Problem in Family?</br> <input type="text" name="fam"></p></span>
<span><p>Enter Sistolic Blood Pressure:</br> <input type="text" name="sys"></p></span>
<span><p>Enter LDL-cholesterin(mg/dl):</br> <input type="text" name="ldl"></p></span>
<span><p>Enter HDL-cholesterin(mg/dl):</br> <input type="text" name="hdl"></p></span>
<span><p>Enter Triglycerid(mg/dL):</br> <input type="text" name="try"></p></span>
<input type="submit">
</form>
</div>
