<form action="/result" method="post">
<span><p>Enter your Age(35-65):</br><input type="text" name="age" value="35"></p></span>
<span><p>Know Diabetes Melitus or blood glucose level >= 120mg/dl?</br><input type="radio" name="sugar" value="Yes"> Yes <input type="radio" name="sugar" value="No" checked="No"> No</p></span>
<span><p>Current nicotine consumption?</br><input type="radio" name="niko" value="Yes"> Yes <input type="radio" name="niko" value="No" checked="No"> No</p></span>
<span><p>Heart Problem in Family?</br><input type="radio" name="fam" value="Yes"> Yes <input type="radio" name="fam" value="No" checked="No"> No</p></span>
<span><p>Enter Sistolic Blood Pressure(mmHg):</br> <input type="text" name="sys" value="120"></p></span>
<span><p>Enter LDL-cholesterin(mg/dl):</br> <input type="text" name="ldl" value="100"></p></span>
<span><p>Enter HDL-cholesterin(mg/dl):</br> <input type="text" name="hdl" value="30"></p></span>
<span><p>Enter Triglycerid(mg/dL):</br> <input type="text" name="try" value="100"></p></span>
<input type="submit" value="Check Score">
</form>

